:root {
  --color-background: rgba(0, 17, 35, 1);
  --color-accent:#0fb7fe;
  --button-hover: rgba(255,255,255,0.15);
  --translucent-white: rgba(255,255,255,0.3);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
  --hover-shadow: rgba(0, 0, 0, 0.2) 0px 5px 12px;
  --gray: #8892b0;
  --translucent-green: rgba(0, 35, 17, 0.85);
  --updates-green: #87fe67;
  --updates-purple: #c33ea7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.accent {
  color: var(--color-accent);
}

.btn {
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
  padding: 12px 18px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: var(--button-hover);
}

.btn.large {
  font-size: 20px;
  padding: 15px 24px;
}

.shadow {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}