@import "./base.css";

.p-menubar {
  height: 70px;
  background-color: var(--color-background) !important;
  border: 0px !important
}

.p-menubar .logo {
  height: 44px;
  width: 44px;
  color: #fff;
}
